page-modal {

}
.primaryfloor{
    background-image: url('../../assets/icon/favicon.ico');
    background-repeat: no-repeat;
    background-size: 300px;
}
// .hilton{
//     background-image: url("../../assets/icon/hiltonprop.jpg");
//     background-repeat: no-repeat;
    
// }