// page-home {

// }
.floor{
     background-image: url("../../assets/imgs/hilt.jpg");
    //background-image: url("../../assets/imgs/tab2.png");
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 1020px 740px;
    height: 800px;


}

.location{
    background-image: url('../../assets/icon/lo.png');
    background-repeat: no-repeat;
    
}

.admnonpms{
    position: fixed;
    top: 510px;
    left: 265px;
    right: 350px;
}
.admrpa{
    position: fixed;
    top:510px;
    left:345px;
    right:350px;
}
.engsupport{
    position: fixed;
    top:510px;
    left:445px;
    right:350px;
}
.instaSupport{
    position: fixed;
    top:510px;
    left:525px;
    right:350px;
}
.prdSupport{
    position: fixed;
    top:510px;
    left:605px;
    right:350px;

}
.pms{
    position: fixed;
    top:510px;
    left:665px;
    right:350px;
}
.testLab{
    position: fixed;
    top:410px;
    left:655px;
    right:350px;
}
.dk{
    position: fixed;
    top:305px;
    left:785px;
    right:350px;
}
.command{
    position: fixed;
    top:350px;
    left:555px;
    right:350px;
}
.one{
    position: fixed;
    top:185px;
    left:555px;
    right:350px;
}
.two{
    position: fixed;
    top:185px;
    left:355px;
    right:350px;
}